.detail {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.detail_container {
  display: flex;
  margin-top: 30px;
  width: 85%;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.detail_container_image {
  width: 400px;
  height: 400px;
  object-fit: contain;
  flex: 0.3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.detail_container_info {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  float: left;
  margin-left: 20px;
}

.detail_container_title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.detail_container_rating {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.detail_container_section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.detail_container_section > h3 {
  flex: 0.3;
  font-size: 28px;
}

.detail_container_section > div {
  flex: 0.7;
  font-size: 24px;
}

.detail_container_button {
  margin-top: 4px;
  border: 1px solid transparent;
}

.detail_container_button:hover {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  background-color: lightgrey;
}

.grid_item {
  text-align: center;
}

.detail_button {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 50%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.detail_button:hover {
  cursor: pointer;
}

.detail_container_description {
  display: flex;
  margin-top: 30px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.detail_description h3 {
  margin-left: 20px;
}

.detail_description {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  flex: 0.3;
  text-align: justify;
}

.detail_rating {
  width: 100%;
}

.detail_separator {
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  width: 80%;
}

.detail_listItem {
  font-size: large;
  font-weight: 500;
}

.detail_review {
  width: 100%;
}

.detail_customer_review {
  width: 100%;
  text-align: ce;
}

.detail_starButton {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.detail_customerText {
  display: block;
  width: 100%;
}

.detail_review_submit {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 200px;
  cursor: pointer;
}
