.brandCard {
  width: 100%;
  text-align: center;
  background-color: blue;
  border: 1px solid black;
}

.brandCard:hover{
  cursor: pointer;
}

.brandCard_image {
  width: 200px;
  object-fit: fill;
}
