.brandCard {
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.brandCard:hover {
  cursor: pointer;
}

.brandCard_image {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  object-fit: fill;
}
